body {
    text-align: center;
    font-weight: bold;
}

header {
    max-width: 100%;
    border: 1px solid lightslategray;
    background-color: red;
    padding: 0.5em 0 0.5em 0;
}

footer {
    background-color: black;
    color: white;
}

/* MOBILE */
@media screen and (min-width: 480px) and (max-width: 800px) {

    footer {
        max-width: 100%;
        border: 1px solid lightslategray;
        padding: 0.5em 0 0.5em 0;
    }
}

/* DESKTOP */
@media screen and (min-width: 800px) {
    
}